<div fxLayoutAlign="center top" fxFlexFill>
  <mat-card fxFlex="30" id="login-container">
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <header id="login-header">
        <h1>Please Log In</h1>
      </header>

      <mat-form-field floatLabel="never" appearance="outline">
        <input matInput  placeholder="Username" class="login-info" required>
      </mat-form-field>

      <mat-form-field floatLabel="never" appearance="outline">
        <input type="password" matInput  placeholder="Password" class="login-info" required>
      </mat-form-field>

      <button mat-raised-button type="submit" id="acceder">Login</button>
      <hr>

    </form>
  </mat-card>
</div>
